CopyG.cpp
Corer
Corer_expRt
Corer_polyRt
test/MyTest
MyTest*
test/testCoreGraph.*
Test*.fa
bugRep*
*.txt
experiments/*/genomeSequences/*.fas*
experiments/.snakemake
experiments/arabidopsis/reads/*.fastq.gz
experiments/scripts/CountCoreKmers
long*
small*
test/makefile
