manifest {
    homePage = "https://github.com/gi-bielefeld/corer"
    doi = "10.1016/j.isci.2022.104413"
    mainScript = "clowm/main.nf"
}

params {
    input = null
    dataset_name = 'pangenome'
    bifrost_graph = null
    outdir = null
    quorum = null
    distance = 50
    kmer_length = 31
    bloom_bits = 14
    clip_tips = false
    del_isolated = false
}

docker.enabled = true
